h1 {
    color: aqua;
}
body { 
    background-image: url("imagenes/familia.png");
    background-repeat: repeat-x ;
}
img {
    width: 200px;
    height: auto;
    border-radius: 15%;
    display:block;
    margin: 12px;
}